@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body{
  overflow-x: hidden;
}

.input-field{
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: border-color 0.3s ease;
}

.input-field:focus{
  border: 5px solid rgba(43, 43, 213, 0.3);
  outline: none;
}

.dropdown{
  padding: 6px;
  border-radius: 5px;
  background: #007cb577;
  appearance: none;
}

.submit-button{
  color: white;
  padding: 10px;
  border-radius: 10px;
  background: #007bb5;
  transition: all 0.2s linear;
}

.submit-button:hover{
  transform: scale(1.1);
}