@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body{
  overflow-x: hidden;
}

.typewriter-cursor{
  color: rgb(92, 8, 249);
  animation: typewriter-cursor 0.9s infinite;
}

@keyframes typewriter-cursor{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}